nav ul{
    display: flex;
    gap: 40px;
    color: var(--primary-text-color);
}
nav a.active{
    color: var(--primary-color);
    position: relative;
}
nav a{
    position: relative;
    text-decoration: none;
}

nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active::after{
    width: 100%;   
}
nav a:hover{
    color: var(--primary-color);
}